@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: whitesmoke;
    text-align: center;
}

#rowButt {
    margin: 50px 0 50px 0;
}

#container {
    display:flex;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 0 auto;
    width: 960px;
    height: 960px;
    align-items: center;
    justify-content: center;
    border: 5px solid lightgray;
    background: lightgray;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow:0px 0px 0px 1px whitesmoke inset;*/
    text-align: center;
    background: #313131;
    color: white;
    /* transition: 0.1s; */
}

.grid-item-change {
    background: white;
}

button {
    all: unset;
    font-family: 'Roboto';
    font-size: 1em;
    font-weight: 300;
    width: 175px;
    height: 35px;
    background: white;
    color: #313131; 
    transition: 0.2s;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

button:hover {
    width: 200px;
    background: gray;
    color: whitesmoke;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}